html,body{

	font-family: 'Montserrat', sans-serif;
}
body{
	background-image: url(fon1.jpg);
}

a{
	text-decoration: none;
}

li {
    list-style-type: none; 
   }

.h_conteiner{
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
	}
.logo{
	display: flex;
}

.textl{
	margin-top:20px;
}

.adress{
	margin: 0 auto;
	display: flex;
	

}

.nim{
	width: 10%;
}

.texta{

padding-top:15px;
}

.nomer{
	padding: 13;
	display: flex;
}

.textn{
	padding-left:15px;
	padding-top:20px;
}

.header_list{
	display:flex;
	color-size: 24px;
	z-index: 4;

}

.header_link{
	color: white;
	margin: 15px;
	font-size:24px;

}

.textt{
	display:none ;
}

.header_link:hover{
padding: 10px;
color:#0560a6 ;
border: solid;
border-radius: 20px;
}

.section {
  height: 8%;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #2098DF;
  display: flex;
  justify-content: center;
  align-items: center
}

 .menu-btn {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}

.container{
	display: flex;
	max-width:1300px;
	margin:  0 auto	;

}

.ctext{
	font-size: 	55px;
	color: white;
	padding-top: 200px;
	padding-left: 35px;
}



.dcontainer{
	padding-top: -25px;
	margin: 0 auto;
	max-width: 1300px;	
	display: flex;
}


.b1{
	padding: 15px;
	text-align: center;
	min-width: 	45%;
	background:#2098DF ;
	color: white;
	border-radius: 	30px;
}

.b1:hover{
background:linear-gradient(20deg, #7ac5ff, #0a90f7); 
border: solid;
}
.b2:hover{
background:linear-gradient(20deg, #7ac5ff, #0a90f7); 
border: solid;

}

.t1{
  font-size: 20px;
 }
 .t2{
  font-size: 15px;
 }

 .b2{
 padding: 15px;
	text-align: center;
	min-width: 	45%;
	background: #2098DF;
	color: white;
	border-radius: 	30px;
	margin-left: 40px;
}
 
@media(max-width:1024px){
	.dcontainer{

	
		margin: 0 auto;
		display: block;
		
	}
	.b1{
		width: 100%;
		height: 40%;

	}
	.b2{
      margin: 0 auto;
      height: 40%;
	margin-top:50px ;
		width: 100%;
		
		
	}
	.t1{
		font-size: 50px;
	}
	.t2{
		font-size: 25px;
	}
}

@media(max-width:768px){
		.menu-btn{
	display: block;	
}
 .header_list{
  display: none;
 }
.ctext{
	display: none;
	letter-spacing: 5px;
	font-size: 15px;
    white-space: pre;
}
.img{
display:block;
margin-left: 220px;


 height:auto;

}

.header_list{

}
.dcontainer{
min-width: 100%;
}

.b1{

min-width: 100%;
}
.b2{

min-width: 100%;
}

.texxt{
	display: block;
}


@media(max-width: 414px){
	.h_conteiner{

		font-size: 10px;
}
.t1{
		font-size: 25px;
	}
	.t2{
		font-size: 15px;
	}

.img{

display: none;
}

.b1{
	margin-top: 250px;
}

