@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic');

* {
    box-sizing: border-box;
}

.row {width: 100%; margin:0;}
.container-fluid {padding: 0;}
p {color:#736e7e;}
ul {color: #736e7e;}
b {color:#4f3d14;}
h1 {
    font-size: 3.5em;
    font-family: "Open Sans","Arial";
    font-weight: 800;
    font-style: normal;
    color: #fff;
    text-shadow: 3px 3px 8px rgba(0,0,0,.77);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
h2 {
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    font-size: 2.3em !important;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 2px 4px rgba(0,0,0,.77);
    margin: 23px 0;  
}

h3, h3 a, h3 a:hover, h3 a:visited, h3 a:focus {
    font-size: 2em;
    font-family: "Open Sans","Arial";
    font-style: normal;
    color: #000 !important;
    text-shadow: 0 1px 2px #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding: 0;}
#accordion {width: 100%; display: block;}
.card {background: none; border: none; width: 100%;}
.card-header {padding: .25rem 0; background: none; border: none; width: 100%;}
.card-body {border-left: 7px solid rgba(253, 184, 18, 0.7019607843137254); -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 1.5rem; margin: 0.75rem; background: #fff;}
.card-header>.btn-primary {width: 100%; text-align: left; padding: 10px 20px; outline: 0 !important; background: 0 0 !important;
    border: 2px solid #00ffff !important; color: #00ffff; font-size: 1.1em; font-weight: 600; box-shadow: none;}


/* Меню */

#ttr_menu {background:#fdb812  !important; box-shadow: 0px 2px 5px rgba(0,0,0,.5) !important; z-index: 333777;padding: 0.45rem;}
#ttr_menu.menufixed {position: fixed; top: 0; width: 100%;}
.navbar-toggler {border-color: rgba(0, 0, 0, 0.32) !important;}
.navbar-toggler-icon {background-image: none; font-size: 1.5em; height: 1.1em; width: 1.1em; color: #000;}
.nav-item a {display: block;
    font-size: 0.95rem;
    color: #000000 !important;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-shadow: 0 1px 1px #fff7bf !important;
    font-weight: 600;}
.nav-item a:hover {color: #ffffff !important;
    transition: all 0.3s ease;
    text-shadow: 0 1px 1px #000 !important;}
.nav-item {    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(255, 255, 255, 0.11);}
.nav-item:last-child {border-right: 0;}
.nav-item:first-child {border-left: 0;}
.nav-link {padding-right: 1rem !important; padding-left: 1rem !important;}
.fa {margin-right: 2px;}
/* Меню - конец */

footer {background: #001d3a; padding: 13px; height: 50px; display: block; box-shadow: 0px 2px 5px rgba(0,0,0,.5) !important;}
footer a {color: #ffffff !important; text-decoration: none !important;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}


#uslugi {margin-top: -18%; padding: 5% 10%; position: relative; z-index: 1;}
#zvonok {position:relative; padding: 5% 10%;background-image: url(../imgs/bg/bg2.jpg); background-attachment: fixed;
    background-position: center bottom; background-size: cover;}
#about, #portfolio, #voprosu {padding:5% 10%;}
#voprosu {background-image: linear-gradient(90deg,#000914 0%,#003464 50%,#000914);}
#sectvideo {padding: 5% 10%;background-image: url(../imgs/bg/bg5.jpg); background-attachment: fixed;
    background-position: center center; background-size: cover;}
#test{
  background-image: linear-gradient(90deg,#000914 0%,#003455 50%,#000914);
\
}

.bg1 {padding: 7% 10% 15% 10%;background-image: url(../imgs/bg/bg1.jpg); background-attachment: fixed;
    background-position: center center; background-size: cover;}

.box-yelow-r:after {border: 13px solid rgba(253, 184, 18, 0.7); right: -32px; top: -32px; position: absolute; width: 77%; height: 77%;
    content: ""; z-index: -1;}
.box-yelow-l:after {border: 13px solid rgba(253, 184, 18, 0.7); left: -32px; bottom: -32px; position: absolute; width: 77%; height: 77%;
    content: ""; z-index: -1;}
.boxform {display: block; text-align: center; padding: 15% 5%; background-image: url(../imgs/bg/bg-form.jpg); 
    background-position: center bottom; background-size: cover; box-shadow: 12px 12px 23px #000;}
    .box-table {width: 100%; height: auto; display: block; background: #fff; padding: 32px; border-radius: 18px; box-shadow: 3px 3px 23px 2px rgba(0,0,0,.18);
    overflow: auto;}
.box-u {position: relative !important; margin: 3%; box-shadow: 1px 3px 7px -1px rgba(0,0,0,.7);}
.box-u img {width: 100%; height: auto;}
.aboutimages {float: left; margin-right: 5%; margin-bottom: 5%;  max-width: 350px;}
.sv-header {padding:1% 10%; min-height: 100px;}
.header-phone {color: #2b4667; font-weight: 700; font-size: 1.2em; position: absolute; right: 0;margin-top: 6%; line-height: 1.5em;text-shadow: 0 1px 2px #fff;}
.phone2 {color: #f7dd0a; text-shadow: 0 1px 2px #000; font-weight: 700; font-size: 2em; margin: 20px 0;}
.vibercontainer {position: absolute; right: 10%; top: 5px; min-width: 220px !important;}
.viber {position: absolute; right: 5%; top: -5px;}
a.btn-gold {text-decoration: none; outline: none; display: block; width: 80%; max-width: 320px;
    margin: 0 auto;  padding: 2% 5%; border-radius: 77px; background: linear-gradient(-45deg,#cca507,#eac11e,#eac11e,#cca507) !important;
    color: #000; font-weight: 600; text-shadow: 0 1px 2px #fff7d3; box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    transition: 0.3s; flex-wrap: nowrap; margin-bottom: 10%;}
a.btn-gold:hover {background: linear-gradient(-45deg,#b69c3f 32%,#e4d57e 65%,#e4d57e,#b3993d) !important;
box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);}
.bg-beige {background: linear-gradient(-90deg,#e5d4bf 5%,#faf0e3 50%,#faf0e3,#e5d4bf) !important;}
.title-rotate {position: absolute; left: -170px; top: 40%; transform: rotate(-90deg); font-size: 4em;
    font-weight: 800; color: #c0c0c0; text-transform: uppercase;}
.h3w {color:#fff !important;  text-shadow: 0 0px 5px #fdb812;}
.h3wc {color:#fff !important; text-shadow: 0 0px 5px #fdb812; text-align:center;}
.title1 {font-size: 1.1em; color: #fff; text-shadow: 0 1px 2px #000; text-transform: uppercase;
font-weight: 600; position: absolute; top: 0; text-align: center; width: 100%; background: rgba(0, 58, 111, 0.88); padding: 1rem;}
.title1 a {color: #fff; text-transform: none; font-weight: 300;}
.title2 {color: #fff; text-shadow:0 1px 2px #000; padding-right:30px;font-weight: 300; font-size: 1.2em;}
.title2 span {text-transform:uppercase; font-weight: 700;}
.titlephone {font-size: 1.5em; font-weight: 700; color: #fdb812;}
.titlephone span {white-space:nowrap; float: left;}
.box-uslug {margin: 3%; box-shadow: 1px 3px 7px -1px rgba(0, 0, 0, 0.7);}
.box-table {width: 100%; height: auto;display: block; background: #fff; padding: 32px; border-radius: 18px; box-shadow: 3px 3px 23px 2px rgba(0, 0, 0, 0.18); overflow: auto;}
.zebra tr,td {font-weight: 600;}
.zebra th,td {border: solid 1px #dadada; padding: 10px 20px; text-align: center;}
.zebra tbody tr:nth-child(odd) {background: #fff; /* Зебра нечетн. */}
.zebra tbody tr:nth-child(even) {background: #ececec; /* Зебра четн. */}
.zebra td:first-child {text-align: left;}
.btnotpr {transition: .3s ease; cursor: pointer;
    border-radius: 3px!important;
    border: 2px solid #d7c2b7!important;
    padding: 12px 32px!important;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700!important;
    background: linear-gradient(-45deg,#cca507,#eac11e,#eac11e,#cca507)!important;
    text-shadow: 0 1px 2px #fff!important;
    color: #000!important;
    min-width: 232px;
    margin: 7px auto;}
.btnotpr:hover {transition: 0.3s ease; border: 2px solid #ffffff; box-shadow: 0 0 3px 1px #fbf0a7 inset, 0 0 3px 1px #fbf0a7; text-shadow: 0px 1px 1px #e4d066; background: linear-gradient(-45deg,#b69c3f 32%,#e4d57e 65%,#e4d57e,#b3993d) !important;}
 .header-h4 {
    position: relative;

    padding-top: .25rem;
    
    text-align: center;
  }
  .pp{
    position: relative;
    text-align: center;
  }

  
input[type=text], input[type=email] {
    padding: 12px 32px !important; border-radius: 3px !important; box-shadow: 1px 2px 3px rgba(175,148,134,.32);
    font-weight: 600 !important; margin: 7px auto; background: #ffffff; border: 0; border-top: 3px solid #dfddd3 !important;}
#sets{
    padding: 5% 10%;
}
 .thumb img {

			box-shadow: 3px 3px 7px rgba(0,0,0,.5);
			outline: 1px solid #c0a667;
			outline-offset: -5px;
			transition: .3s;
			
			
        }
}
}

.thumb img:hover {
			box-shadow: 3px 3px 11px rgba(0,0,0,.8);
			transform: scale(1.02);
        }
.thumb {
            padding: 10px;
        }
.fancybox-container {z-index: 777888 !important;}
.fancybox-navigation .fancybox-button--arrow_left, .fancybox-navigation .fancybox-button--arrow_right  {height: 95% !important; width: 7% !important; min-width:55px; top:5% !important;}
.card-header:after {content: "▾"; position: absolute; right: 16px; top: 14px; color: #fff; font-size: 21px;}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	text-shadow: none;
  }
  100% {
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


::-webkit-scrollbar{width:12px}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);-webkit-border-radius:10px;border-radius:10px}
::-webkit-scrollbar-thumb{-webkit-border-radius:10px;border-radius:10px; 
background: rgb(253, 184, 18) !important;  
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.5)}
::-webkit-scrollbar-thumb:window-inactive{background: rgb(253, 184, 18)}




/* Стили для мобильных */
@media only screen and (max-width: 1200px) and (min-width: 768px) {


}
@media only screen
and (max-width : 767px)
{
h1, h2, h1 a, h1 a:hover, h1 a:visited, h1 a:focus {font-size: 2em;}
h2 {font-size: 1.3em !important;}
h3, h3 a, h3 a:hover, h3 a:visited, h3 a:focus {font-size: 1.4em;}
.bg1, .bg2, .bg3, .bg4, .bg5, .bg5, .bg6, .bg7, .bg8 {padding:5%;}
.nav-item {border-top: 1px solid #e7a507; border-right:0; border-left:0;}
.nav-item:first-child {border-top: 0;}
.navbar-toggler {padding: 0.15rem .32rem;}
.nav-link {padding: 0.7rem !important;}
#ttr_menu {padding: 0.32rem;}
#uslugi {margin-top: 5%; padding: 5%;}
.box-yelow-r:after {border: 0;}
.box-yelow-l:after {border: 0;}
.titlephone {font-size: 1.5em;}
#zvonok, #about, #portfolio, #voprosu {padding: 5%;}
.aboutimages {display: none;}
}
@media only screen
and (max-width : 320px)
{


}


